<footer class="footer-container">
  <div class="footer-content">
    <div class="social-links">
      <a href="https://www.facebook.com">
        <img src="assets/Facebook.jpg" alt="Facebook" />
      </a>
      <a href="https://fr.linkedin.com">
        <img src="assets/Linkedin.png" alt="Linkedin" />
      </a>
      <a href="https://www.instagram.com/">
        <img src="assets/Instagram.jpg" alt="Instagram" />
      </a>
      <a href="https://twitter.com/">
        <img src="assets/Twitter.jpg" alt="Twitter" />
      </a>
    </div>
    <div class="contact-info">
        <p>Contactez-nous :</p>
        <a href="mailto:contact@isi-inc.com">contact@isi-inc.com</a>
        <p>123 Rue la fontaine, Montréal</p>
        <p>514-333 4444</p>

    </div>
  </div>
</footer>
