body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #7d7d7d;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin: 0px 15px;
  padding: 0 60px;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #ff9900;
}

select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

option {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}
 button{
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
 }
