<div class="services-container">
  <h2>{{"services_title" | translate}}</h2>
  <p>
    {{"services_description" | translate}}
  </p>

  <div class="service-item">
    <h3>{{"aws_service" | translate}}</h3>
    <p>
      {{"aws_description" | translate}}
    </p>
  </div>

  <div class="service-item">
    <h3>{{"azure_service" | translate}}</h3>
    <p>
      {{"azure_description" | translate}}
    </p>
  </div>

  <div class="service-item">
    <h3>{{"ci_cd_service" | translate}}</h3>
    <p>
      {{"ci_cd_description" | translate}}
    </p>
  </div>

  <div class="service-item">
    <h3>{{"jenkins_service" | translate}}</h3>
    <p>
      {{"jenkins_description" | translate}}
    </p>
  </div>

  <div class="service-item">
    <h3>{{"ansible_service" | translate}}</h3>
    <p>
     {{"ansible_description" | translate}}
    </p>
  </div>

  <div class="service-item">
    <h3>{{"automation_service" | translate}}</h3>
    <p>
      {{"automation_description" | translate}}
    </p>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
