<div class="services-container">
  <h2>Nos services Cloud</h2>
  <p>
    Nous proposons une gamme complète de services cloud pour répondre à vos
    besoins en matière de technologies de l'information. Nos experts sont là
    pour vous aider à tirer le meilleur parti des solutions cloud les plus
    avancées.
  </p>

  <div class="service-item">
    <h3>Amazon Web Services (AWS)</h3>
    <p>
      Exploiter la puissance de l'infractructure cloud leader du secteur pour
      exécuter vos applications, stocker des données et bien plus encore.
    </p>
  </div>

  <div class="service-item">
    <h3>Microsoft Azure</h3>
    <p>
      Profitez de la flexibilité et de l'évolutivité de la plateforme cloud de
      Microsoft pour répondre à vos besoins en matière d'entreprise.
    </p>
  </div>

  <div class="service-item">
    <h3>CI/CD (Intégration Continue / Livraison Continue)</h3>
    <p>
      Automatisez le processus de développement et de déploiement pour des mises
      à jour plus rapides et une qualité logicielle supérieure.
    </p>
  </div>

  <div class="service-item">
    <h3>Jenkins</h3>
    <p>
      Utilisez Jenkins pour l'automatisation des tâches, la création, les tests
      et le déploiement continu.
    </p>
  </div>

  <div class="service-item">
    <h3>Ansible</h3>
    <p>
      Gérez votre infrastructure en tant que code avec Ansible pour une
      automatisation puissante et efficace.
    </p>
  </div>

  <div class="service-item">
    <h3>Automatisation</h3>
    <p>
      Automatisez des tâches répétitives et gagnez du temps grâce à nos
      solutions d'automatisation avancées.
    </p>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
