<div class="a-propos-container">
  <div class="about-item" [@slide]="animationState">
    <img src="assets/vision.jpg" alt="Vision" />
    <h3>Notre Vision</h3>
    <p>
      Notre vision est ancrée dans la conviction que la technologie de
      l'information (TI) peut catalyser une transformation positive dans notre
      monde en constante évolution. Nous aspirons à créer un avenir numérique où
      l'innovation et l'harmonie règnent en maîtres. Notre entreprise s'engage à
      aller au-delà des limites conventionnelles pour façonner cet avenir. Dans
      un paysage technologique en perpétuelle mutation, notre objectif est de
      proposer des solutions numériques à la pointe de l'industrie qui
      simplifient la complexité pour nos clients et stimulent leur croissance.
      Nous nous efforçons continuellement d'anticiper les tendances
      technologiques, d'explorer de nouvelles frontières et d'innover sans
      relâche. Nous croyons que l'innovation est la clé pour relever les défis
      les plus complexes et pour saisir de nouvelles opportunités.
    </p>
  </div>
  <div class="about-item" [@slide]="animationState">
    <img src="assets/equipe.jpg" alt="Equipe" />
    <h3>Notre Équipe</h3>
    <p>
      Notre équipe est le pilier de notre réussite. Nous avons rassemblé un
      groupe diversifié de professionnels passionnés, chacun apportant des
      compétences et des perspectives uniques. Notre culture d'entreprise
      favorise la collaboration, l'apprentissage continu et l'innovation. Nous
      croyons que le mélange de talents divers stimule la créativité et permet
      d'offrir des solutions plus riches et plus adaptées. Chacun de nos membres
      est animé par un profond engagement envers l'excellence. Nous relevons les
      défis avec enthousiasme, nous apprenons des échecs et nous célébrons les
      succès. Notre équipe n'est pas seulement un groupe de collègues, c'est une
      communauté de professionnels déterminés à atteindre des objectifs communs.
    </p>
  </div>
  <div class="about-item" [@slide]="animationState">
    <img src="assets/engagement.jpg" alt="Engagement" />
    <h3>Notre Engagement</h3>
    <p>
      Notre engagement envers nos clients est au cœur de notre entreprise. Nous
      nous efforçons de fournir des solutions numériques d'une qualité
      exceptionnelle qui répondent à leurs besoins spécifiques. Nous croyons en
      une approche axée sur la résolution de problèmes, l'efficacité
      opérationnelle et l'impact positif. Nous écoutons attentivement nos
      clients pour comprendre leurs défis et leurs aspirations. Ensuite, nous
      personnalisons nos services pour répondre à leurs besoins de manière
      précise. Notre objectif est de dépasser les attentes de nos clients à
      chaque étape de notre collaboration. Nous bâtissons des relations de
      confiance solides, en travaillant en partenariat pour les aider à
      prospérer dans un monde numérique en constante évolution.
    </p>
  </div>
</div>
<app-footer></app-footer>
