<div class="a-propos-container">
  <div class="about-item" [@slide]="animationState">
    <img src="assets/vision.jpg" alt="Vision" />
    <h3>{{ "about_vision" | translate }}</h3>
    <p>
      {{"about_vision_paragraph" | translate}}
    </p>
  </div>
  <div class="about-item" [@slide]="animationState">
    <img src="assets/equipe.jpg" alt="Equipe" />
    <h3>{{ "about_team" | translate }}</h3>
    <p>
      {{"about_team_paragraph" | translate}}
    </p>
  </div>
  <div class="about-item" [@slide]="animationState">
    <img src="assets/engagement.jpg" alt="Engagement" />
    <h3>{{ "about_engagement" | translate }}</h3>
    <p>
   {{"about_engagement_paragraph" | translate}}
    </p>
  </div>
</div>
<app-footer></app-footer>
